extends base 


block content 
  main.main.main--finances(data-id=`${userId}`)
        .container
          .flex.flex-dc.gap-md
            .section.section--overview
              h2.heading-secondary Overview
              .row.row-widgets
                .widget.widget--income
                  span.widget-label Income
                  .widget-details
                    span.widget-value KSH. 500000
                .widget.widget--expenses
                  span.widget-label Expenses
                  .widget-details
                    span.widget-value KSH. 500000
                .widget.widget--profit
                  span.widget-label Profit
                  .widget-details
                    span.widget-value KSH 500000
                .widget.widget--budget
                  span.widget-label Budget
                  .widget-details
                    span.widget-value Yearly budget: KSH. 500000
                    span.widget-value Remaining Amount: KSH. 500000
            .section
              h2.heading-secondary Income
              .row.row-income
                h3.sub-heading Coffee Sales
                .sales-details
                  .sales-detail.sales-detail--price
                    span.label.label-price Price per Kg
                    span.value.value-price KSH 100
                  .sales-detail.sales-detail--yield
                    span.label.label-yield Total Yield
                    span.value.value-yield 1000 kg
                  .sales-detail.sales-detail--amount
                    span.label.label-amount Expected revenue
                    span.value.value-amount KSH 500, 000
            .flex.width-max.gap-md
              -const {expenses, budget } = financesData
              -console.log(budget)
              -function formatDate(date){return new Date(date).toLocaleDateString('en-us', {day: 'numeric', month: 'short', year: 'numeric'})}
              .section.section-expenses(data-expenses={expenses}, data-financesData={financesData})
                h2.heading-secondary Expenses
                .row.row-expenses
                  .expense.expense-labour(data-expense-type="labour")
                    .expense_header
                      span.expense_icon
                        img.image-icon(src='src/farmer.png', alt='farmer-icon')
                      .flex.flex-dc.width-max
                        .flex
                          span.expense_name Labour
                          button.btn.btn-icon-only.ml-auto.btn-toggle--expense-details
                            ion-icon(name='chevron-down-outline')
                        .flex.allocated-amounmt.align-center
                          span.expense_status.expense_status--on-budget On-budget
                          .expense_cost
                            span.expense_cost-label Total cost
                            -if(expenses.labour?.length > 0) 
                              span.expense_cost-value(data-expense-total=`${expenses.labour[0].expense_total_cost}`)=`KSH. ${ expenses.labour[0].expense_total_cost}`
                            -else
                              span.expense_cost-value(data-expense-total=`${0}`)=`KSH. 0.00`
                    .expense_body.hidden
                      h4 Details
                      ul.list.expense_list.expense_list--labor
                        li.expense_list-item.header-row
                          span Date
                          span Description
                          span Laborers
                          span Pay Rate
                          span Hours worked
                          span Cost

                      
                        -if(expenses.labour?.length > 0) 

                          each item in expenses.labour[0].expense_particulars
                            
                            
                            li.expense_list-item.values-row
                                
                                
                                span=formatDate(item.transaction_date)
                                span=item.expense_details[0].description 
                                span=item.expense_details[0].numberOfLaborers 
                                span=item.expense_details[0].payRate 
                                span=item.expense_details[0].hoursWorked 
                                span=item.expense_total 
                        
                        

                          
                      
                  .expense.expense-Pesticide(data-expense-type="pesticide")
                    .expense_header
                      span.expense_icon
                        img.image-icon(src='src/pesticide.png', alt='farmer-icon')
                      .flex.flex-dc.width-max
                        .flex
                          span.expense_name Pesticide
                          button.btn.btn-icon-only.ml-auto.btn-toggle--expense-details
                            ion-icon(name='chevron-down-outline')
                        .flex.allocated-amounmt.align-center
                          span.expense_status On-budget
                          .expense_cost
                            span.expense_cost-label Total cost
                            -if(expenses.pesticide?.length > 0) 
                              span.expense_cost-value(data-expense-total=`${expenses.pesticide[0].expense_total_cost}`)=`KSH. ${ expenses.pesticide[0].expense_total_cost}`
                            -else 
                              span.expense_cost-value(data-expense-total=`${0}`)=`KSH. 0.00`
                    .expense_body.hidden
                      h4 Details
                      ul.list.expense_list.expense_list--pesticide
                        li.expense_list-item.header-row
                          span Date
                          span Description
                          span Quantity
                          span Cost
                          
                        -if(expenses.pesticide?.length > 0) 
                          
                          each item in expenses.pesticide[0].expense_particulars       
                            li.expense_list-item.values-row
                              span=formatDate(item.transaction_date)
                              span=item.expense_details[0].description 
                              span=`${item.expense_details[0].quantity} ${item.expense_details[0].measurementUnit}`
                              
                            
                              span=item.expense_total 
                             

                  .expense.expense-fertilizer(data-expense-type="fertilizer")
                    .expense_header
                      span.expense_icon
                        img.image-icon(src='src/fertilizer.png', alt='farmer-icon')
                      .flex.flex-dc.width-max
                        .flex
                          span.expense_name Fertilizer
                          button.btn.btn-icon-only.ml-auto.btn-toggle--expense-details
                            ion-icon(name='chevron-down-outline')
                        .flex.allocated-amounmt.align-center
                          span.expense_status On-budget
                          .expense_cost
                            span.expense_cost-label Total cost
                            -if(expenses.fertilizer?.length > 0) 
                              span.expense_cost-value(data-expense-total=`${ expenses.fertilizer[0].expense_total_cost}`)=`KSH. ${ expenses.fertilizer[0].expense_total_cost}`
                            -else
                              span.expense_cost-value(data-expense-total=`${0}`)=`KSH. 0.00`
                    .expense_body.hidden
                      h4 Details
                      ul.list.expense_list.expense_list--fertilizer
                        li.expense_list-item.header-row
                          span Date
                          span Description
                          span Quantity
                          span Cost

                        -if(expenses.fertilizer?.length > 0) 
                          each item in expenses.fertilizer[0].expense_particulars
      
                            li.expense_list-item.values-row   
                              span=formatDate(item.transaction_date)
                              span=item.expense_details[0].description 
                              span=item.expense_details[0].quantity                           
                              span=item.expense_total 
                  .expense.expense-miscelleneous(data-expense-type="miscelleneous")
                    .expense_header
                      span.expense_icon
                        img.image-icon(src='src/income.png', alt='farmer-icon')
                      .flex.flex-dc.width-max
                        .flex
                          span.expense_name Miscelleneous
                          button.btn.btn-icon-only.ml-auto.btn-toggle--expense-details
                            ion-icon(name='chevron-down-outline')
                        .flex.allocated-amounmt.align-center
                          span.expense_status On-budget
                          .expense_cost
                            span.expense_cost-label Total cost
                            -if(expenses.miscelleneous?.length > 0) 
                              span.expense_cost-value(data-expense-total=`${ expenses.miscelleneous[0].expense_total_cost}`)=`KSH. ${ expenses.miscelleneous[0].expense_total_cost}`
                            -else
                              span.expense_cost-value(data-expense-total=`${0}`)=`KSH. 0.00`
                    .expense_body.hidden
                      h4 Details
                      ul.list.expense_list.expense_list--miscelleneous
                        li.expense_list-item.header-row
                          span Date
                          span Description
                          span Cost
                          

                        -if(expenses.miscelleneous?.length > 0) 
                          each item in expenses.miscelleneous[0].expense_particulars
      
                            li.expense_list-item.values-row   
                              span=formatDate(item.transaction_date)
                              span=item.expense_details[0].description 
                              span=item.expense_details[0].cost 
                        

              .section.section-budget(data-budget={budget})
                h2.heading-secondary Budget overview
                .row.row-budget
                  div
                    canvas#myChart
                  dialog.dialog.dialog-budget
                    .flex   
                      button.btn.btn-icon-only.btn-close-modal.ml-auto
                        ion-icon(name="close-outline")
                    form.form.form--budget(action='')
                      h2 Create Budget
                      .form-row--horizontal
                        label(for='budget') Available funds
                        input#budget_amount.input(type='number' min=0)
                      p.instruction-text
                        | Enter the amount of money to allocate each expense
                      .form-row--horizontal
                        label(for='labour') Labour
                        input#labour.input(type='number' min=0 )
                      .form-row--horizontal
                        label(for='pesticide') Pesticides
                        input#pesticide.input(type='number' min=0)
                      .form-row--horizontal
                        label(for='fertilizer') Fertilizer
                        input#fertilizer.input(type='number' min=0)
                      .form-row--horizontal
                        label(for='fertilizer') Miscelleneous
                        input#fertilizer.input(type='number' min=0)
                      .btns-row
                        button.btn.btn-large.btn-secondary.btn-close-modal(type='button')
                          | Cancel
                        button.btn.btn-primary.btn-large(type='submit')
                          | Submit
                  button.btn.btn-primary.btn-md.btn-open-budget-form
                    | Create budget
                
                .budget-overview



